.card__container{
	background-color: rgba(0, 0, 0, 0.589);
	position: relative;
	border:3px solid #3E4357;
	border-radius: 10px;
	width: 350px;
	height: 400px;

	display: flex;
	overflow: hidden;
	margin-top: 10px;
}

.card__img{
	width: 100%;
	height: 100%; 
	object-fit: contain; 
	transition: transform .8s;
}

.card__img:hover{
	transform: scale(1.1);
}
