<footer class="footer__container">
	<div class="footer__header">
		<img src="assets/ps-plus.webp" alt="" srcset="">
	</div>
	<div class="footer__content">
		<div class="footer__session">
			<ul>
				<li>Suporte</li>
				<li>Política de privacidade</li>
				<li>Termos de uso do site</li>
			</ul>
		</div>
		<div class="footer__session">
			<ul>
				<li>Sobre as classificações</li>
				<li>Termos de serviço da PSN</li>
				<li>Termos de uso do site</li>
			</ul>
		</div>
		<div class="footer__session">
			<ul>
				<li>Facebook</li>
				<li>Instagram</li>
				<li>Twitter</li>
			</ul>
		</div>
	</div>
	<div class="footer">
		<h4>© 2023 Sony Interactive Entertainment Inc. Todos os direitos reservados.</h4>
	</div>
</footer>
