.card-pricing__container {
	flex-direction: column;
	width: 100%;
	color: black;
}

.card-pricing__value {
	display: flex;
	flex-direction: column;
}

.card-pricing__value__console {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 30px;
}

.card-pricing__value__console>span {
	font-weight: bolder;
	color: var(--c-promotion);
	font-size: 2.5rem;
	padding: 0 5px 0 0;
}

.card-pricing__value__console>p {
	font-size: .8rem;
	color: var(--c-secondary);
}
