<div class="home__container">
	<app-card
		gameCover="assets/bt-1.jpg"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 129,99"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-4.jpg"
		gameLabel="EXCLUSIVE"
		gameType="DISC | PS5"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/ac-cover.jpg"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS5"
		gamePrice="R$ 369,99"
		>
	</app-card>
	<app-card
		gameCover="assets/bt-hardline.jpg"
		gameLabel="NEW"
		gameType="DIGITAL | PS3 PS4 PS5"
		gamePrice="R$ 369,99"
	>
	</app-card>
	<app-card
	gameCover="https://m.media-amazon.com/images/I/91T0XQv8gEL._AC_SY741_.jpg"
	gameLabel="NEW"
	gameType="DIGITAL | PS3 PS4 PS5"
	gamePrice="R$ 269,99"
>
	</app-card>
	<app-card
	gameCover="https://cdn.awsli.com.br/600x450/0/810/produto/2073139337afadd0370.jpg"
	gameLabel="NEW"
	gameType="DIGITAL | PS3 PS4 PS5"
	gamePrice="R$ 269,99"
	>
</app-card>
</div>

