.home__container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.pagination__container{
	position: absolute;
	bottom: 300px;
	display: flex;
	justify-content: center;
}