.home__container {
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 1.5rem;
	flex-direction: column;
}

.home__container>h1 {
	padding-top: 8rem;
}

.home__games {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	flex-wrap: wrap;
}

.home__banner>img {
	width: 100%;
	padding: 2rem 0;
}