.home__container {
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	height: 100vh; /* Ajusta a altura para 100% da altura da tela */
}
