<div class="menu-bar__container">
	<div class="menu-bar__content">
		<div class="menu-bar__logo">
			<img src="assets/ps-logo.png" alt="playstation logo" srcset="" width="140px" height="32px">
		</div>
		<div class="menu-bar__item">
			<ul>
				<li><a href="#">YOUTUBE</a></li>
				<li><a href="#">LINKEDIN</a></li>
				<li><a href="#">GITHUB</a></li>
			</ul>
		</div>
	</div>
	<div class="menu-bar__section">
		<ul>
			<li><a href="#prevenda">Pré-venda</a></li>
			<li><a href="#novosjogos">Novos jogos</a></li>
			<li><a href="#demonstracoes">Demonstrações</a></li>
		</ul>
	</div>
</div>