<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<a href="https://store.playstation.com/pt-br/pages/latest">
			<img
				src="assets/ps-logo.png"
				alt="playstation logo"
				srcset=""
				width="140px"
				height="32px"
			/>
		</a>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li>
				<a href="https://www.youtube.com/@PlayStation">YOUTUBE</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/viviane-oliveira-251659247"
					>LINKEDIN</a
				>
			</li>
			<li><a href="https://github.com/vivianeoliveirah">GITHUB</a></li>
		</ul>
	</div>
</div>
