/* You can add global styles to this file, and also import other style files */
*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(9,9,121,1) 100%);
}
